.sidebar {
background: rgba( 80, 75, 75, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10.0px );
-webkit-backdrop-filter: blur( 10.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 20%;
  padding: 10px 5px;
  float: left;
  margin: 0 25px;
}
ul{
  list-style-type: none;
}
.nav-link {
  color: white !important;
  font-weight: 600 !important;
  line-height: 60px !important;
}




.nav-link.active,
.nav-link:hover {
  // color: rgba(0, 0, 0, 0.6) !important;
  //color: #009688 !important;
  color: white !important;
  transition: 0.6s;
}
.nav-item {
  position: relative;
}

.nav-item .nav-link.active:before {
  content: "";
  position: absolute;
  width: 74%;
  height: 2px;
  bottom: 16px;
  left: 16px;
  background: white;;
  transition: all 0.3s ease-in-out 0s;
}
